.container {
    max-width: 620px;
    width: 100%;
    margin: 17px auto;

    // overflow: hidden;

    h2 {
        margin-bottom: 6px;

        font-weight: 600;
        font-size: 14px;
        color: var(--text-heading);
    }

    .symbol {
        width: 100%;
        margin-bottom: 16px;

        overflow: hidden;

        font-weight: 600;
        font-size: 14px;
        color: var(--text-muted);
        text-wrap: nowrap;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}