.card {

    .btn_title {
        display: flex;
        align-items: center;
        gap: 12px;

        width: 100%;

        overflow: hidden;

        font-weight: 600;
        font-size: 14px;
        color: var(--text-heading);

        span {
            display: block;

            text-wrap: nowrap;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 6px;

        .experience_title {
            margin-bottom: 8px;

            font-weight: 500;
            font-size: 14px;
            color: var(--text-main);
        }

        .experience_menu {
            display: flex;
            gap: 8px;

            .experience_btn {
                padding: 2px 4px;

                font-weight: 500;
                font-size: 14px;
                color: var(--text-link);

                &.active {
                    background: var(--text-link);

                    color: var(--text-invert);
                }
            }
        }

        .experience_content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px;

            background: var(--bg-select);
            border: 1px solid var(--bg-invert);

            h3 {
                font-weight: 600;
                font-size: 14px;
                color: var(--text-heading);
            }

            div {
                font-weight: 500;
                font-size: 14px;
                color: var(--text-main);
            }
        }
    }

    &.active {
        .btn_title {
            img {
                transform: rotateX(180deg);
            }
        }
    }
}