.container {
    width: 100%;

    overflow: hidden;

    h2 {
        display: flex;
        align-items: center;
        gap: 12px;

        width: 100%;
        padding: 2px;

        cursor: pointer;
        overflow: hidden;

        font-weight: 600;
        font-size: 14px;
        color: var(--text-heading);
        white-space: nowrap;

        .icon {
            font-size: 12px;
        }

        &:hover,
        &:focus {
            animation: skill_animation 1.2s infinite
        }
    }

    .content {
        display: none;
        flex-direction: column;

        margin-top: 8px;

        .description {
            display: flex;
            margin-bottom: 16px;

            font-weight: 400;
            font-size: 14px;
            color: var(--text-main);
        }

        .text {
            display: flex;
            padding: 16px;

            border: 1px solid var(--color-invert);
            background: var(--color-select);
        }
    }


    &.active {
        h2 {
            .icon {
                transform: rotateX(180deg);
            }
        }

        .content {
            display: flex;
        }
    }
}


@keyframes skill_animation {
    0%, 49.9% {
        background: var(--text-heading);

        color: var(--text-invert);
    }
    50%, 100% {
        background: transparent;

        color: var(--text-heading);
    }
}