.line {
    animation: line_animation 1s infinite;

    color: transparent;
}


@keyframes line_animation {
    0%, 49.9% {
        background: var(--color-invert);
    }
    50%, 100% {
        background: transparent;
    }
}