.container {
    display: flex;
    flex-direction: column;

    .experiences {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        gap: 8px;

        .item {
            padding: 2px 4px;

            cursor: pointer;

            font-weight: 600;
            font-size: 14px;
            color: var(--text-link);

            &:hover,
            &:focus {
                animation: experience_animation 1.2s infinite;
            }


            &.active {
                background: var(--text-link);

                color: var(--text-invert);

                &:hover,
                &:focus {
                    animation: none;
                }
            }
        }
    }

    .description {
        display: flex;
        padding: 16px;

        border: 1px solid var(--color-invert);
        background: var(--color-select);
    
        font-size: 14px;
        color: var(--text-main);
    }
}


@keyframes experience_animation {
    0%, 49.9% {
        background: var(--text-link);

        color: var(--text-invert);
    }
    50%, 100% {
        background: transparent;

        color: var(--text-link);
    }
}