.item {
    width: 100%;

    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin-bottom: 10px;

        cursor: pointer;
        overflow: hidden;
        
        font-weight: 700;
        font-size: 14px;
        color: var(--text-heading);
        line-height: 150%;

        .icon {
            display: block;
            
            position: relative;
            
            transform: rotateX(180deg);
        }

        .text {
            display: block;
            text-wrap: nowrap;
        }


        &:hover,
        &:focus {
            animation: title_animation 0.5s infinite;
        }
    }

    .content {
        display: none;

        font-size: 14px;
        line-height: 180%;
        color: var(--text-main);

        .text {
            margin-bottom: 16px;
        }

        .experiences {
            display: flex;
            flex-direction: column;
            
            font-weight: 600;

            .experiences_menu {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 12px;

                .experience_item {
                    padding: 2px 4px;

                    cursor: pointer;
                    
                    font-weight: 600;
                    color: var(--text-link);

                    &:hover,
                    &:focus {
                        animation: title_animation_experience 0.5s infinite;
                    }
                    

                    &.active {
                        background: var(--text-link);

                        color: var(--text-invert);

                        &:hover,
                        &:focus {
                            animation: none;
                        }
                    }
                }
            }

            .description {
                padding: 16px;

                background: var(--color-select);
                border: 1px solid var(--color-invert);

                font-weight: 600;
            }
        }

        .line {
            color: transparent;
        }
    }



    &.active {
        h2 {
            background: var(--text-heading);

            color: var(--text-invert);
    
            .icon {
                transform: rotateX(0);
            }

            &:hover,
            &:focus {
                animation: none;
            }
        }

        .content {
            display: block;

            .line {
                animation: content_line 0.6s infinite;
            }
        }
    }
}


@keyframes title_animation {
    0%, 49.9% {
        background: var(--text-heading);

        color: var(--text-invert);
    }
    50%, 100% {
        background: transparent;
        color: var(--text-heading);
    }
}

@keyframes title_animation_experience {
    0%, 49.9% {
        background: var(--text-link);

        color: var(--text-invert);
    }
    50%, 100% {
        background: transparent;
        color: var(--text-link);
    }
}

@keyframes content_line {
    0%, 49.9% {
        background: transparent;
    }
    50%, 100% {
        background: var(--color-invert);
    }
}