.container {
    display: grid; 
    grid-template-columns: minmax(100px, 150px) 1fr minmax(200px, 250px); 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . .";

    cursor: pointer;
    line-height: 1.5;

    &:hover,
    &:focus {
        animation: button_animation 1.2s infinite;
    }
}

@keyframes button_animation {
    0%, 49.9% {
        background: var(--text-main);

        color: var(--color-select);
    }
    50%, 100% {
        background: transparent;
        color: var(--text-main);
    }
}