.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    height: 100%;

    font-weight: 600;
    color: var(--text-heading);

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    .menu {
        display: flex;
        gap: 12px;

        >a {
            padding: 5px 0;

            color: var(--text-link);

            &:focus,
            &:hover {
                animation: link_animation 1.2s infinite;
            }
        }
    }
}

@keyframes link_animation {
    0%, 49.9% {
        background: var(--text-main);

        color: var(--text-invert);
    }
    50%, 100% {
        background: transparent;
        color: var(--text-link);
    }
}