.container {
    display: flex;
    flex-direction: row;
    gap: 16px;

    max-width: 1205px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;

        max-height: 100%;

        overflow: hidden;

        h1 {
            display: flex;
            flex-direction: column;
            gap: 8px;

            background: var(--color-main);

            font-weight: 600;
            font-size: 14px;
            color: var(--text-heading);
        }

        .description {
            line-height: 1.5;
            overflow-y: auto;

            h1, h2, h3, h4, h5, h6 {
                color: var(--text-heading);
            }

            a {
                color: var(--text-link);

                &:hover,
                &:focus {
                    animation: button_animation 1.2s infinite;
                }
            }
        }
    }

    .short {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex-shrink: 0;

        max-width: 230px;
        width: 100%;

        line-height: 1.5;

        .short_item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 8px;

            .short_title {
                flex-shrink: 0;

                max-width: 90px;
                width: 100%;

                white-space: nowrap
            }

            .short_text {
                color: var(--text-muted);

                a {
                    color: var(--text-link);

                    &:hover,
                    &:focus {
                        animation: button_animation 1.2s infinite;
                    }
                }
            }
        }
    }
}


@keyframes button_animation {
    0%, 49.9% {
        background: var(--text-link);

        color: var(--text-invert);
    }
    50%, 100% {
        background: transparent;
        color: var(--text-link);
    }
}