/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 98.6%;
}
input,button,textarea{
	font-family:inherit;
	background: transparent;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------*/


/* GLOBAL */
body {
	font-family: var(--font-jetbrains-mono), sans-serif;

  	background: var(--bg-main);
}
.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 16px;
	padding: 16px;

	border: 2px solid var(--bg-invert);
	color: var(--text-main);
}
main {
	flex: 1 1 auto;
}
/*----------------------*/


/* CONST */
:root {
  --bg-main: #000000;
  --bg-select: #323232;
  --bg-invert: #FFFFFF;
  --text-main: #FFFFFF;
  --text-muted: #A4A4A4;
  --text-link: #C3C7F4;
  --text-heading: #FFDDC0;
  --text-invert: #000000;
}
/*----------------------*/