.section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 439px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    h2 {
        margin-bottom: 6px;
    }

    h3 {
        margin-bottom: 10px;
    }
    
    .title {
        font-size: 14px;
        font-weight: 600;
        color: var(--text-heading);
        text-align: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;
        width: 100%;
    }

    .sub {
        font-size: 14px;
        font-weight: 600;
        color: var(--text-muted);
    }
}