.card {
    display: flex;
    gap: 10px;
    width: 100%;

    font-weight: 600;
    font-size: 14px;
    color: var(--text-muted);
    
    .social {
        max-width: 90px;
        width: 100%;
        flex-shrink: 0;
    }

    .link {
        max-width: 150px;
        width: 100%;
        flex-shrink: 0;

        color: var(--text-link);

        transition: all 0.2s ease;

        &:hover,
        &:focus {
            color: var(--text-main);
        }
    }

    .text {
        flex-shrink: 0;
    }
}