.container {
    max-width: 905px;
    width: 100%;
    margin: 17px auto 0;

    .content {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .full {
            max-width: 605px;
            width: 100%;
            overflow: hidden;

            .line {
                margin-bottom: 11px;
            }

            .markdown_body {
                display: flex;
                flex-direction: column;
                gap: 11px;


                code {
                    background: var(--bg-select);

                    color: var(--text-main);
                    
                    span {
                        color: var(--text-heading);
                    }

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--bg-invert);
                    }
                }

                ul, ol {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    margin-left: 20px;
                }

                li {
                    list-style-type: disc;

                    code {
                        padding: 2px 8px;
                    }
                }

                table {
                    border-collapse: collapse;

                    th, td {
                        padding: 5px;

                        border: 1px solid var(--bg-invert);
                    }

                    th {
                        color: var(--text-heading);
                    }
                }

                p {
                    line-height: 135%;
                }
            }
        }

        .small {
            display: flex;
            flex-direction: column;
            gap: 6;
            max-width: 262px;
            width: 100%;

            font-weight: 500;
            font-size: 14px;

            .block {
                display: grid;
                grid-template-columns: 85px 1fr;
                gap: 14px;

                .title {
                    padding-top: 4px;
                }

                .muted {
                    color: var(--text-muted);
                    line-height: 150%;
                }
            }
        }
    }
    
    h2 {
        margin-bottom: 6px;

        font-weight: 600;
        font-size: 14px;
        color: var(--text-heading);
    }
}