.card {
    display: grid;
    gap: 16px;
    grid-template-columns: 118px 2.5fr 1fr;
    padding: 4px 0;

    cursor: pointer;

    .date {
        color: var(--text-muted);
    }

    .technologies {
        color: var(--text-muted);
    }
}