.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .top {
        display: flex;
        justify-content: space-between;

        .primary {
            display: flex;
            gap: 49px;
            align-items: center;

            .logo {
                font-family: var(--font-jetbrains-mono), sans-serif;
                font-weight: 500;
                font-size: 14px;
            }

            .about {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }

        .secondary {
            display: flex;
            gap: 24px;
            align-items: start;

            .link {
                display: flex;
                align-items: center;
                gap: 6px;

                font-size: 14px;
                color: var(--text-link);
                
                transition: all 0.2s ease;

                .icon {
                    font-size: 24px;
                    color: var(--text-main);
                }

                &:hover,
                &:focus {
                    color: var(--text-main);
                }
            }
        }
    }

    .menu {
        display: flex;
        gap: 4px;
    }
}