.link {
    padding: 8px 12px;
    color: var(--text-link);

    transition: all 0.2s ease;

    &.active {
        background: var(--bg-invert);
        color: var(--text-invert);        
    }

    &:hover,
    &:focus {
        color: var(--text-main);

        
        &.active {
            color: var(--text-invert); 
        }
    }
}